doctype html
head
    link(rel="stylesheet" href="./style.css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat&amp;subset=cyrillic" rel="stylesheet")
body
    h1 Webim Test App
    block content